<div *ngIf="product">
    <div>
      <label>Nombre del producto: </label> {{product.nombre}}
    </div>
    <div>
      <label>Cantidad: </label> {{product.cantidad}}
    </div>
    <div>
      <label>Cantidad: </label> {{product.descripcion}}
    </div>
    <div>
      <label>Cantidad: </label> ${{product.precio}}
    </div>
    <div>
      <label>Activo: </label> {{product.activo}}
    </div>
   
    <button style="margin-right: 20px;" mat-flat-button color="accent" class="button is-small btn-primary" *ngIf='product.activo' (click)='updateActive(false)'>Inactivo</button>
   
    <button style="margin-right: 20px;" mat-flat-button color="primary" class="button is-small btn-primary" *ngIf='!product.activo' (click)='updateActive(true)'>Activo</button>
   
    <button mat-flat-button color="warn" class="button is-small btn-danger" (click)='deleteProduct()'>Eliminar</button>
   
    <hr />
  </div>
