<mat-card class="example-card z-depth" appMaterialElevation>

    <div class="crop-image">
        <img mat-card-image src="{{product.img}}" alt="{{product.alt_img}}">
    </div>
    <mat-divider></mat-divider>
    <mat-card-content style="padding:24px;margin:0!important;">

        <div class="overviewcard__info">
            <h2><span class="bolder">Precio:</span>${{product.precio}}</h2>
        </div>
        <h2 class="title">{{product.nombre}}</h2>
        <p [ngClass]="showDescription ? 'descriptionAnimation' : 'hideDescription'">
            {{product.descripcion}}
        </p>

    </mat-card-content>
    <mat-card-actions>
        <!--  <input type="number" name="" id="" formControlName="itemCantidad" min="0" max="{{product.cantidad}}" maxlength="{{product.cantidad}}">-->
        <button style="border: 2px solid;" mat-stroked-button color="accent" type="submit" (click)="addCart()">Agregar al carrito <mat-icon>
                shopping_cart</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>