<app-header></app-header>
<header class="header">
    <h2>Tus Pedidos</h2>
    <h3>Aqui podrás revisar el estado de tus pedidos entrantes.</h3>
</header>
<div>
    <div class="orders">
        <table>
            <tr>
                <th>Fecha</th>
                <th>Nombre Cliente</th>
                <th>Teléfono</th>
                <th>Direccion</th>
                <th>Cantidad de items</th>
                <th>Total</th>
                <th>Estado del pedido</th>
                <th>Eliminar</th>
            </tr>
            <tr *ngFor="let order of orders">
                <td>{{order.fecha.toDate()| date :'dd-MMM-yy h:mm:ss'}}</td>
                <td>{{order.nombre_cliente}}</td>
                <td>{{order.telefono_cliente}}</td>
                <td>{{order.direccion_cliente}}</td>
                <td>{{order.cant_items}}</td>
                <td>{{order.total}}</td>
                <td>
                    <mat-slide-toggle (click)="enviado()">Enviado</mat-slide-toggle>
                </td>
                <td>
                    <button  mat-icon-button (click)="deleteProduct()">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </td>

            </tr>
        </table>
    </div>
</div>