<mat-toolbar color="primary">
  <span>En tu barrio</span>
  <div>
    <a class="btn" mat-button routerLink="/pedidos">
      <mat-icon>shopping_basket</mat-icon> Pedidos
    </a>
    <a class="btn" mat-button routerLink="/historial">
      <mat-icon>menu_book</mat-icon> Historial
    </a>
    <a class="btn" mat-button routerLink="/productos">
      <mat-icon>store</mat-icon> Productos
    </a>
    <!--  <button class="btn"  mat-icon-button (click)=toUser()><mat-icon>person</mat-icon> Usuario </button>-->
    <button mat-button matTooltip="SALIR DE LA APP" (click)="logOut()">
      <mat-icon >exit_to_app</mat-icon>SALIR
    </button>
  </div>
</mat-toolbar>