  
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.hidden {
  display: none;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
/*
@media (min-width: 768px) {
  .sidenav {
    display: none;
  }
} */

::ng-deep mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row {
  display: flex;
  justify-content: space-between;
  div{
    padding:0 30px;
    button{
      padding: 5px;
    }
  }
}
