<div class="login">
    <div class="desktop">
        <div class="txt-desktop">
            <div>
                <p>¿ NECESITAS AYUDA CON LAS VENTAS DE TU NEGOCIO ?</p>
                <p>Nuestro proposito es ayudarte a concretar ventas online <span>EN TU BARRIO</span></p>
            </div>
        </div>
    </div>
    <div class="flex-desktop">
        <div class="header">
            <img src="../../assets/img/shop.svg" style ="width: 500px;"alt="">
        </div>

        <div class="dFlex">
            <img src="../../assets/img/shop.svg" style ="width: 500px;"alt="">
        </div>

        <div class="box">
            <form [formGroup]="loginValidateForm">
                <div class="flex">

                    <mat-form-field appearance="outline">
                        <mat-icon matSuffix appearance="outline">email</mat-icon>
                        <input autocomplete="off" class="email" name="email" type="text" matInput
                            placeholder="ejemplo@ejemplo.cl" formControlName="email">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <input placeholder="********" name="password" autocomplete="off"
                            [type]="hide ? 'password' : 'text'" matInput formControlName="password">
                    </mat-form-field>

                </div>

                <div class="flex">
                    <button [disabled]="!loginValidateForm.valid"
                        [ngClass]="!loginValidateForm.valid ? 'btn-disabled': 'btn-enabled'" mat-raised-button
                        color="accent" type="submit" (click)="onSubmit()">ENVIAR
                    </button>
                </div>

                <div class="flex resetPassword">
                    <button class="resetPass" mat-button (click)="resetPassword()">¿Tienes problemas? Recupera tu
                        contraseña
                    </button>
                </div>
                <div class="flex resetPassword">
                    <button class="resetPass" mat-button (click)="toRegistry()">¿No tienes cuenta? Registrate
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>