<app-user-header></app-user-header>
<div class="grid-container">
    <header></header>
    <div class="main">
        <div class="main-header">
            <!-- 
            <div class="main-header__heading">Hello User</div>
            <div class="main-header__updates">Recent Items</div> -->
        </div>
        <div class="main-overview">

            <!--  
            <div class="overviewcard">
                <div class="overviewcard__icon">Overview</div>
                <div class="overviewcard__info">Card</div>
            </div>-->
        </div>
        <div class="main-box">
            <div class="cardoverview">

            </div>
        </div>
        <mat-horizontal-stepper #stepper *ngIf="(products$ | async ) as products">
            <mat-step>
                <ng-template matStepLabel>Tu pedido actual</ng-template>
                <div>
                    <p *ngIf="products.length === 0"> Todavía no has agregado productos.</p>
                    <div style="display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column; ">
                        <div class="row" *ngFor="let product of products" style="max-width: 950px;">
                            <table>
                                <tr>
                                    <th></th>
                                    <th>Nombre:</th>
                                    <th>Descripcion:</th>
                                    <th>Cantidad:</th>
                                    <th>Precio unitario:</th>
                                </tr>
                                <tr>
                                    <td> <img style="width: 150px;" src="{{product.img}}" alt="{{product.alt_img}}">
                                    </td>
                                    <td>{{product.nombre}}</td>
                                    <td>{{product.descripcion}}</td>
                                    <td>{{product.cantidad}}</td>
                                    <td>${{product.precio}}</td>
                                    <td>
                                        <button mat-icon-button (click)="deleteProduct(product)">
                                            <mat-icon color="warn">delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <mat-divider></mat-divider>
                <div style="display: flex;justify-content: flex-end;">
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </mat-step>
            <mat-step>
                <!-- TODO AGREGAR INPUT DE DIRECCION EN CASO QUE QUIERA INGRESAR OTRA -->
                <!-- [formGroup]="userDataOrder" -->
                <ng-template matStepLabel>Confirma tus datos</ng-template>
                <div *ngIf="products.length !== 0">
                    <!--  *ngIf="products.length !== 0" -->
                    <div *ngFor="let user of userData">
                        <h2>
                            <mat-icon color="accent">person_pin</mat-icon> Identificación
                        </h2>
                        <mat-divider></mat-divider>
                        <div style="padding: 30px;">
                            <p class="bold"><span class="light">Nombre: </span>{{user?.nombre}}</p>
                            <p class="bold"><span class="light">Email: </span>{{user?.email}}</p>
                            <p class="bold"><span class="light">Móvil: </span>{{user?.numero}}</p>

                        </div>

                        <h2>
                            <mat-icon color="accent">place</mat-icon> Entrega
                        </h2>
                        <mat-divider></mat-divider>
                        <div style="padding: 30px;">

                            <p class="bold"><span class="light">Dirección: </span>{{user?.direccion}}</p>

                        </div>

                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="nombre" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field>                         -->
                <div style="display: flex;justify-content: space-between;">
                    <button mat-button matStepperPrevious>Volver</button>
                    <button mat-button matStepperNext (click)="sumarTotal()">Confirmar datos</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Confirmar pedido</ng-template>
                <div *ngFor="let user of userData">
                    <div *ngIf="products.length !== 0 && !sendedOrder">
                        <h2>
                            <mat-icon color="accent">point_of_sale</mat-icon> Resumen
                        </h2>
                        <mat-divider></mat-divider>
                        <div style="padding: 30px;">
                            <p class="bold"><span class="light">Nombre: </span>{{user?.nombre}}</p>
                            <p class="bold"><span class="light">Dirección: </span>{{user?.direccion}}</p>
                            <p class="bold"><span class="light">Cantidad de items: </span> {{cantidad}}</p>
                            <p class="bold"><span class="light">Total:</span> :${{total}}</p>
                            <div>
                                <button mat-flat-button color="primary" (click)="orderConfirmation()">Confirmar</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="sendedOrder">
                        <p>El pedido se ha enviado correctamente!</p>
                    </div>
                </div>

                <mat-divider></mat-divider>
                <div style="display: flex;justify-content: flex-end;">
                    <button mat-button (click)="stepper.reset()">Volver a pedir</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>

    </div>
    <footer class="footer">
        <app-footer></app-footer>
    </footer>
</div>