div.centerSpinner {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #0000008c;
    z-index: 2;
}
