<div class="grid-container">
    <app-user-header></app-user-header>
    <div class="main">
        <div class="main-header">

            <!-- 
            <div class="main-header__heading">Hello User</div>
            <div class="main-header__updates">Recent Items</div> -->
        </div>
        <div class="main-overview">
            <!--  
            <div class="overviewcard">
                <div class="overviewcard__icon">Overview</div>
                <div class="overviewcard__info">Card</div>
            </div>-->
        </div>
        <div class="container">
            <app-products></app-products>
        </div>
    </div>
    <app-footer></app-footer>
</div>